extends ../layouts/auth

block web-content
  .card
    .card-body.login-card-body
      p.login-box-msg Daftar akun baru

      if errors && errors.length
        .alert.alert-danger
          ul.mb-0.pl-3
            each pesan in errors
              li= pesan

      form(method="post", action="/register")
        .input-group.mb-3
          input.form-control(type="text", name="name", placeholder="Nama", value=old.name || "", required)
          .input-group-append
            .input-group-text
              span.fas.fa-user
        .input-group.mb-3
          input.form-control(type="email", name="email", placeholder="Email", value=old.email || "", required)
          .input-group-append
            .input-group-text
              span.fas.fa-envelope
        .input-group.mb-3
          input.form-control(type="password", name="password", placeholder="Password (min. 8 karakter)", required)
          .input-group-append
            .input-group-text
              span.fas.fa-lock
        .input-group.mb-3
          input.form-control(type="password", name="password_confirmation", placeholder="Konfirmasi Password", required)
          .input-group-append
            .input-group-text
              span.fas.fa-lock
        .row
          .col-12
            button.btn.btn-success.btn-block(type="submit") Daftar

      p.mt-3.mb-0.text-center
        | Sudah punya akun? 
        a(href="/login") Login di sini