extends layouts/auth

block web-content
  .card
    .card-body.text-center.py-4
      h1.display-4.text-warning.mb-2 404
      p.lead Halaman tidak ditemukan.
      a.btn.btn-primary.btn-block(href="/") Kembali ke Beranda