extends layouts/master

block web-content
  .row
    .col-lg-6.col-12
      .small-box.bg-info
        .inner
          h3= (typeof totalBuku !== 'undefined' ? totalBuku : '-')
          p Total Buku
        .icon
          i.fas.fa-book
        a.small-box-footer(href="/books")
          | Lihat detail 
          i.fas.fa-arrow-circle-right
    .col-lg-6.col-12
      .small-box.bg-success
        .inner
          h3= (typeof totalKategori !== 'undefined' ? totalKategori : '-')
          p Total Kategori
        .icon
          i.fas.fa-tags
        a.small-box-footer(href="/books")
          | Kelola buku 
          i.fas.fa-arrow-circle-right

  .card
    .card-header
      h3.card-title Selamat Datang
    .card-body
      p.mb-0 Gunakan menu di samping kiri untuk mengelola data buku MiniPustaka.