extends layouts/auth

block web-content
  .card
    .card-body.text-center.py-4
      h1.display-5.text-danger.mb-2 Terjadi Kesalahan
      p.lead= message || 'Maaf, terjadi kesalahan pada server.'
      a.btn.btn-primary.btn-block(href="/") Kembali ke Beranda