extends ../layouts/master

block web-content
  .row
    .col-md-8
      .card.card-warning
        .card-header
          h3.card-title Edit Kategori
        form(method="post", action=`/categories/${category.id}/edit`)
          .card-body
            if errors && errors.length
              .alert.alert-danger
                ul.mb-0.pl-3
                  each pesan in errors
                    li= pesan
            .form-group
              label(for="name") Nama
              input.form-control#name(type="text", name="name", value=old.name || "", required)
          .card-footer
            button.btn.btn-success(type="submit")
              i.fas.fa-save.mr-1
              | Perbarui
            a.btn.btn-default.ml-1(href="/categories") Batal
